#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.main-container {
    max-width: max(40vw, 400px);
    margin: 0 auto;
}

html {
    margin: 0;
    padding: 0;
    background-image: url('/background.webp');
    background-size: cover;
    background-position: center;
    height: 200vh;
  }

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {


  .title-box .container {
    background-color: rgb(26, 24, 24) !important;
  }

}

/* Header */

.header-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-list li {
    margin: 0;
    background-color: white;
    flex: 1;

    @media (prefers-color-scheme: dark) {
      background-color: rgb(26, 24, 24) !important;
      color: white;   
      }
  }
  
  .header-list a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    @media (prefers-color-scheme: dark) {
      color: white;   
      }
  }
  
  .header-list a:hover {
    background-color: #555;
  }
  
  .header-list a.active {
    background-color: #555;
    color: #fff;
  }
  

/* Content */

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    margin-bottom: 32px;
    margin-top: 32px;
    max-width: max(40vw, 400px);
    padding: 16px;
    box-sizing: border-box;

    @media (prefers-color-scheme: dark) {
    background-color: rgb(26, 24, 24) !important;   
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Carousel */

.carousel-root {
  width: 100%;
}

.thumbs-wrapper {
  margin-bottom: -20px !important;
}

img {
    width: 100%
}

.padded {
    padding: 0px 20px;
}

/* Countdown timer */

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
    @media (prefers-color-scheme: dark) {
    color: white;   
    }
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

.itinerary {
  padding: 0;
}

.itinerary > li {
  list-style-type: none;
}