#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-container {
    max-width: 475px;
    margin: 0 auto;
}

html {
    margin: 0;
    padding: 0;
    background-image: url('/background.webp');
    background-size: cover;
    background-position: center;
    height: 200vh;
  }

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {


  .title-box .container {
    background-color: rgb(26, 24, 24) !important;
  }

}

/* Header */

.header-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-list li {
    margin: 0;
    background-color: white;
    flex: 1;

    @media (prefers-color-scheme: dark) {
      background-color: rgb(26, 24, 24) !important;
      color: white;   
      }
  }
  
  .header-list a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    @media (prefers-color-scheme: dark) {
      color: white;   
      }
  }
  
  .header-list a:hover {
    background-color: #555;
  }
  
  .header-list a.active {
    background-color: #555;
    color: #fff;
  }
  

/* Content */

.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    margin-bottom: 32px;
    margin-top: 32px;
    width: min(100%, 475px);
    padding: 16px;
    box-sizing: border-box;

    @media (prefers-color-scheme: dark) {
    background-color: rgb(26, 24, 24) !important;   
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

img {
    width: 100%
}

.padded {
    padding: 0px 20px;
}